// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// General
body {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background: $secondary;
    color: white;
    // min-height: 8000px;
}

a {
    color: white;
    text-decoration: none;
    &:hover {
        color: $primary;
    }
}

::placeholder {
    color: $secondary;
}

.button {
    display: inline-block;
    color: white;
    border: 1px solid $primary;
    padding: 0.5em 1em;
    background: $secondary;
    border-radius: 1em;
    font-size: 20px;
    transition: ease 0.25s all;
    text-transform: uppercase;
    text-align: center;
    &:hover {
        background: $primary;
        color: $secondary;
        text-decoration: none;
    }
    @media (max-width: $xl) {
        font-size: 18px;
    }
    @media (max-width: $lg) {
        display: none;
    }
    &.button-sm {
        display: none;
        @media (max-width: $lg) {
            display: block;
        }
    }
    &.outline {
        text-transform: lowercase;
        background: transparent;
        color: $secondary;
        border: 1px solid $secondary;
        &:hover {
            background: $secondary;
            color: $primary;
        }
    }
}

.wpcf7-form {
    background: $secondary;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 15px;
    @media (max-width: $lg) {
        margin-top: 30px;
    }
}

// ::placeholder {
//     color: $secondary;
//  }

// Header
#wrapper-navbar {
    z-index: 500;
    position: relative;
    .top-header {
        background: $secondary;
        height: 115px;
        display: flex;
        // justify-content: center;
        align-items: center;
        background-image: url('../img/header-top-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (max-width: $md) {
            padding-bottom: 45px;
            padding-top: 30px;
            height: auto;
        }
        .mobile-logo-holder {
            @media (max-width: $md) {
                text-align: center;
                margin-bottom: 30px;
            }
        }
        .top-header-contact {
            display: flex;
            justify-content: flex-end;
            @media (max-width: $md) {
                justify-content: space-around;
                align-items: center;
            }
            .mobile-menu-dropdown {
                display: none;
                @media (max-width: $md) {
                    display: block;
                }
                @media (max-width: $sm) {
                    font-size: 16px;
                }
                button {
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: white;
                    padding: 0.5em 1em;
                    border: none;
                    border-radius: 0px;
                    span {
                        margin-right: 0.5em;
                    }
                    &:hover {
                        background: $secondary;
                    }
                }
            }
            a {
                color: white;
                border: 1px solid $primary;
                padding: 0.5em 1em;
                background: $secondary;
                border-radius: 1.5em;
                font-size: 20px;
                margin-left: 1em;
                text-decoration: none;
                &:hover {
                    color: $primary;
                }
                @media (max-width: $md) {
                    margin-left: 0em;
                }
                @media (max-width: $sm) {
                    font-size: 16px;
                }
                .fa {
                    color: $primary;
                    margin-right: 0.5em;
                }
            }
            .top-header-contact-email {
                @media (max-width: $xl) {
                    display: none;
                }
            }
        }
    }

    #main-nav {
        background: $secondary-300;
        border-top: 1px solid $secondary-300;
        border-bottom: 1px solid $secondary-300;
        #main-menu {
            li {    
                a {
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: white;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                &.current-menu-item {
                    a {
                        color: $primary;
                    }
                }
            }
            .dropdown-menu {
                background: $secondary-300;

                li {
                    a {
                        &:hover {
                            background: $secondary;
                        }
                    }
                }
            }
        }
        .search-input-holder {
            border: 8px solid $primary;
            border-radius: 15px;
            background: white;
            padding: 0px 10px;
            width: 350px;
            margin-top: -30px;
            margin-bottom: -30px;
            display: flex;
            align-items: center;
            @media (max-width: $md) {
                width: 100%;
            }
            .title {
                font-size: 22px;
                font-weight: 300;
                margin-right: 10px;
                color: $secondary;
                @media (max-width: $sm) {
                    font-size: 18px;
                }
            }
            input {
                flex: 1;
                font-size: 22px;
                padding: 20px 0px;
                border: none;
                outline: none;
                @media (max-width: $sm) {
                    font-size: 18px;
                    // width: 100%;
                }
                &::placeholder {
                    font-weight: bold;
                    color: $secondary;
                }
            }
        }

        .mobile-menu-dropdown {
            display: none;
            @media (max-width: $xl) {
                display: block;
            }
            @media (max-width: $md) {
                display: none;
            }
            button {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                padding: 10px;
                border: none;
                border-radius: none;
                span {
                    margin-right: 0.5em;
                }
                &:hover {
                    background: $secondary;
                }
            }
        }

        #navbarNavDropdown {
            @media (max-width: $xl) {
                padding-top: 30px;
            }
        }
    }
}

// Home Page
.home-hero-banner-top {
    // margin-top: 100px;
    .skip-bins-holder {
        border: 4px dashed $primary;
        border-radius: 30px;
        background-color: $secondary-500;
        padding: 30px;
        margin-top: 100px;
        position: relative;
        @media (max-width: $md) {
            padding: 15px;
            border-radius: 15px;
            margin-top: 50px;
        }
        .overlay-image-arrow {
            position: absolute;
            top: -150px;
            left: 330px;
            @media (max-width: $md) {
                display: none;
            }
        }
        .title {
            color: white;
            font-size: 46px;
            @media (max-width: $xl) {
                font-size: 30px;
            }
            font-weight: bold;
            .fa {
                color: $primary;
            }
        }
        .description {
            color: $primary;
            font-weight: 300;
            font-size: 24px;
            @media (max-width: $xl) {
                font-size: 18px;
            }
        }
    }
    .seven-day-skip-info {
        img {
            margin-top: 100px;
            @media (max-width: $lg) {
                display: none;
            }
        }
        .title {
            display: none;
            color: $primary;
            font-size: 36px;
            font-family: 'Just Another Hand', cursive;
            margin-top: 15px;
            @media (max-width: $lg) {
                display: block;
                font-size: 30px;
            }
        }
    }
    .home-hero-slider {
        margin-top: 50px;
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: -110px;
        position: relative;
        z-index: 100;
        @media (max-width: $md) {
            margin-bottom: -175px;
            margin-top: 20px;
        }
        .slider {
            .slider-wrapper {
                .slide {
                    .image {
                        height: 420px;
                        background-image: url('../img/slider-1.png');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        @media (max-width: $lg) {
                            height: 320px;
                        }
                        @media (max-width: $md) {
                            height: 210px;
                        }
                    }
                    .entry-content {
                        background: white;
                        height: 110px;
                        color: $secondary;
                        font-size: 30px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        line-height: 1.15;
                        @media (max-width: $md) {
                            height: 175px;
                            flex-direction: column;
                            align-items: start;
                            justify-content: center;
                        }
                        .icon {
                            width: 150px;
                            margin-left: 30px;
                            margin-right: 30px;
                            @media (max-width: $lg) {
                                display: none;
                            }
                        }
                        .info {
                            flex: 1;
                            font-size: 30px;
                            @media (max-width: $lg) {      
                                font-size: 24px;
                                margin-left: 30px;
                            }
                            @media (max-width: $md) {
                                margin-left: 30px;
                                margin-right: 30px;
                                margin-top: 30px;
                            }
                        }
                        .slider-nav {
                            display: flex;
                            margin-right: 30px;
                            @media (max-width: $md) {
                                margin-left: 30px;
                                margin-bottom: 30px;
                            }
                            a {
                                margin-left: 15px;
                                margin-right: 15px;
                                color: $primary;
                                font-size: 48px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.home-product-info {
    background: $primary;
    padding-top: 200px;
    // padding-bottom: 100px;
    overflow: hidden;
    @media (max-width: $md) {
        text-align: center;
    }
    .home-special-offer-background-overlay {
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50px;
            bottom: 50px;
            left: -200px;
            right: -200px;
            background: rgba(black, 0.1);
        }
    }
    .home-special-offer {
        background: $secondary;
        border-radius: 15px;
        display: flex;
        padding: 50px;
        position: relative;
        z-index: 500;
        @media (max-width: $md) {
            display: block;
            padding: 15px;
            text-align: center;
        }
        .discount-circle {
            height: 268px;
            min-width: 268px;
            display: inline-flex;
            border-radius: 50%;
            background: white;
            color: $secondary;
            line-height: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media (max-width: $sm) {
                margin-left: -5px;
            }
            .save {
                font-size: 48px;
                font-weight: 900;
                text-transform: uppercase;
            }
            .percent {
                font-size: 100px;
                font-weight: 900;
            }
        }
        .entry-content {
            padding-left: 30px;
            @media (max-width: $md) {
                text-align: left;
            }
            .title {
                font-size: 36px;
                color: $primary;
                font-weight: bold;
                @media (max-width: $xl) {
                    font-size: 30px;
                }
                @media (max-width: $lg) {
                    margin-top: 15px;
                }
            }
            .description {
                font-size: 24px;
                font-weight: 300;
                margin-top: 30px;
                margin-bottom: 30px;
                @media (max-width: $xl) {
                    font-size: 18px;
                }
                @media (max-width: $lg) {
                    font-size: 18px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .home-select-bin {
        color: $secondary;
        margin-top: 100px;
        position: relative;
        h2 {
            font-size: 48px;
            color: $secondary;
            font-weight: bold;
            @media (max-width: $xl) {
                font-size: 30px;
            }
            i {
                margin-right: 0.25em;
            }
        }
        .home-bins {
            .home-bin {
                background: white;
                border-radius: 15px;
                color: $secondary;
                padding: 30px;
                margin-bottom: 30px;
                position: relative;
                @media (max-width: $sm) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .bin-img {
                    @media (max-width: $xl) {
                        margin-top: 30px;
                    }
                }
                .title {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 15px;
                }
                ul {
                    margin-bottom: 30px;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    // line-height: 1.15;
                    @media (max-width: $xl) {
                        margin-bottom: 30px;
                    }
                    li {
                        margin: 0;
                        padding: 0;
                        font-size: 16px;
                        font-weight: 300;
                        &::before {
                            content: "\f0da";
                            display: inline-block;
                            font-family: FontAwesome;
                            margin-right: 0.5em;
                            color: $primary;
                        }
                    }
                }
                .home-skip-circles {
                    margin-top: 20px;
                    @media (max-width: $xl) {
                        margin-top: 55px;
                    }
                    @media (max-width: $lg) {
                        margin-top: 0px;
                        margin-bottom: 30px;
                    }
                    .circle {
                        width: 100%;
                        padding-top: 100%;
                        background: $primary;
                        border-radius: 50%;
                        position: relative;
                        @media (max-width: $sm) {
                            width: 100%;
                            padding-top: 100%;
                            // display: inline-block;
                        }
                        .content-holder {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);  
                            font-size: 14px;
                            font-weight: bold;
                            text-align: center;
                            @media (max-width: $xl) {
                                font-size: 12px;
                            }
                            @media (max-width: $md) {
                                font-size: 16px;
                            }
                            @media (max-width: 390px) {
                                font-size: 12px;
                            }
                            .icon {
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .abs-holder-button {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 5px 30px;
                    font-size: 18px;
                    font-weight: bold;
                    background: $secondary;
                    color: white;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    text-transform: uppercase;
                    @media (max-width: $lg) {
                        // font-size: 14px;
                        width: 75%;
                        text-align: center;
                    }
                    @media (max-width: $md) {
                        font-size: 14px;
                    }
                    @media (max-width: $sm) {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}

// Footer
#wrapper-footer {
    .footer-we-accept {
        background: $primary;
        padding-top: 75px;
        padding-bottom: 75px;
        margin-top: 50px;
        color: $secondary;
        @media (max-width: $md) {
            text-align: center;
        }
        .title-holder {
            display: flex;
            color: $secondary;
            margin-bottom: 50px;
            align-items: flex-end;
            h2 {
                flex: 1;
                font-size: 48px;
                font-weight: bold;
                @media (max-width: $xl) {
                    font-size: 30px;
                }
            }
        }
        .title {
            text-align: center;
            font-weight: bold;
            margin-top: 25px;
            @media (max-width: $lg) {
                margin-right: 40px;
                margin-bottom: 25px;
            }
            @media (max-width: $md) {
                margin-right: 0px;
                margin-bottom: 25px;
            }
        }
        .button {
            @media (max-width: $lg) {
                text-align: center;
                margin: 0 auto;
                margin-top: 25px;
                width: 60%;
            }
            // @media (max-width: $md) {
            //     // width: 75%;
            //     // padding: 0.5em;
            // }
        }
    }
    .footer-testimonial-holder {
        padding-top: 50px;
        .testimonial {
            text-align: center;
            .stars {
                color: $primary;
                text-align: center;
                margin-bottom: 15px;
                font-size: 48px;
                @media (max-width: $xl) {
                    font-size: 30px;
                }
            }
            .quote {
                font-size: 30px;
                margin-bottom: 15px;
                @media (max-width: $xl) {
                    font-size: 18px;
                }
            }
            .author {
                color: $primary;
                font-size: 18px;
                @media (max-width: $xl) {
                    font-size: 12px;
                }
            }
        }
    } 
    .footer-contact-form-holder {
        .footer-contact-form {
            background: $primary;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            color: $secondary;
            margin-top: 50px;
            padding: 30px;
            @media (max-width: $lg) {
                padding: 15px;
            }
            .contact {
                h2 {
                    font-size: 48px;
                    margin-bottom: 30px;
                    @media (max-width: $xl) {
                        font-size: 30px;
                    }
                }
                p {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.15;
                    margin-bottom: 30px;
                    @media (max-width: $xl) {
                        font-size: 18px;
                    }
                }
                a {
                    color: $secondary;
                    display: block;
                    font-size: 24px;
                    @media (max-width: $xl) {
                        font-size: 18px;
                    }
                    .fa {
                        color: white;
                        padding-right: 0.5em;
                    }
                }
            }
        }
    }
    .copyright {
        padding-top: 7px;
        padding-bottom: 7px;
        background: white;
        color: $secondary;
        text-align: center;
        font-size: 14px;
        span {
            color: $primary;
            padding-left: 7px;
            padding-right: 7px;
        }
        a {
            color: $secondary;
            text-decoration: none;
        }
    }
}

.wrapper {
    padding: 0px 0px; // default: 30px 0;
}

// Sidebar
.right-sidebar {
    margin-top: 150px;
    background: $primary;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    z-index: 500;
    text-align: center;
    @media (max-width: $lg) {
        margin-top: 25px;
        margin-left: 65px;
    }
    @media (max-width: $md) {
        margin-left: 50px;
    }
    @media (max-width: $sm) {
        margin-left: 45px;
    }
    @media (max-width: 414px) {
        margin-left: 30px;
    }
    .discount-circle {
        height: 268px;
        min-width: 268px;
        display: inline-flex;
        border-radius: 50%;
        background: white;
        color: $secondary;
        line-height: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $sm) {
            margin-left: -5px;
        }
        @media (max-width: 370px) {
            height: 208px;
            min-width: 208px;
            margin-left: -5px;
        }
        .save {
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
            @media (max-width: 370px) {
                font-size: 40px;
            }
        }
        .percent {
            font-size: 100px;
            font-weight: 900;
            @media (max-width: 370px) {
                font-size: 92px;
            }
        }
    }
    .entry-content {
        padding-left: 15px;
        padding-right: 15px;
        .title {
            font-size: 24px;
            color: $secondary;
            font-weight: bold;
            margin-top: 30px;
            text-align: left;
            @media (max-width: $xl) {
                font-size: 24px;
            }
            @media (max-width: $lg) {
                margin-top: 15px;
            }
            @media (max-width: $md) {
                font-size: 22px;
            }
        }
        .description {
            font-size: 18px;
            font-weight: 300;
            margin-top: 30px;
            margin-bottom: 30px;
            color: $secondary;
            text-align: left;
            @media (max-width: $xl) {
                font-size: 18px;
            }
            @media (max-width: $lg) {
                font-size: 18px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        .button {
            text-transform: uppercase;
            width: 100%;
        }
    }
}

// Page & Post & (part of) Contact Page & Blog (archive) & WooCommerce
#page-wrapper, #single-wrapper, #index-wrapper, #archive-wrapper, #error-404-wrapper, #search-wrapper, #woocommerce-wrapper {
// #main {
    overflow: hidden;
    .entry-header {
        margin-top: 75px;
        margin-bottom: 25px;
        h1 {
            font-size: 48px;
            @media (max-width: $sm) {
                font-size: 36px;
            }
        }
    }
    .entry-title {
        color: $primary;
        font-weight: 300;
        a {
            color: $primary;
            text-decoration: none;
            &:hover {
                // color: white;
                font-weight: bold;
            }
        }
    }
    .entry-content {
        h2 {
            margin-bottom: 25px;
            font-size: 30px;
            @media (max-width: $sm) {
                font-size: 30px;
            }
        }
        p {
            font-size: 18px;
        }
        ul {
            margin-bottom: 30px;
            list-style: none;
            margin: 0;
            padding: 0;
            // line-height: 1.15;
            @media (max-width: $xl) {
                margin-bottom: 30px;
            }
            li {
                margin: 0;
                padding: 0;
                font-weight: 300;
                font-size: 16px;
                &:last-child {
                    margin-bottom:30px;
                }
                &::before {
                    content: "\f0a9";
                    display: inline-block;
                    font-family: FontAwesome;
                    margin-right: 0.5em;
                    color: $primary;
                }
            }
        }
        img {
            border-radius: 30px;
        }
    }
    .post-navigation-options {
        border-top: 4px dashed $primary;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        @media (max-width: $lg) {
            margin-top: 25px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        a {
            display: inline-block;
            color: white;
            border: 1px solid $primary;
            padding: 0.5em 1em;
            border-radius: 1em;
            font-size: 20px;
            transition: ease 0.25s all;
            text-align: center;
            text-transform: capitalize;
            background: transparent;
            text-decoration: none;
            &:hover {
                background: $secondary;
                color: $primary;
            }
            @media (max-width: $xl) {
                font-size: 18px;
            }
        }
    }
    &#single-wrapper {
        .entry-content {
            margin-top: 50px;
        }
    }
    &#archive-wrapper {
        .entry-header {
            margin-top: 25px;
        }
        article {
            background: white;
            border-radius: 15px;
            color: $secondary;
            padding-bottom: 10px;
            min-height: 500px;
            @media (max-width: $lg) {
                min-height: 400px;
            }
            .archive-post-image {
                height: 200px;
                background-size: cover;
                background-repeat: no-repeat;
                // background-position: center;
                background-image: url('../img/slider-1.png');
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
            .entry-title {
                margin-top: 30px;
                color: $secondary;
                font-weight: bold;
                font-size: 30px;
                padding: 0 30px;
                a {
                    color: $secondary;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            .entry-content {
                padding: 0 30px;
                font-weight: 300;
                line-height: 1.15;
                .entry-metadata {
                    margin-top: 15px;
                    // display: flex;
                    .button {
                        padding: 0.5em 1em;
                        font-size: 14px;
                        background: transparent;
                        color: $secondary;
                        border: 1px solid $secondary;
                        &:hover {
                            background: $secondary;
                            color: $primary;
                            border: 1px solid $primary;
                        }
                        @media (max-width: $lg) {
                            display: block;
                        }
                        @media (max-width: $sm) {
                            padding: 0.5em 0.5em;
                        }
                    }
                    .date {
                        font-size: 14px;
                        text-align: right;
                        i {
                            color: $primary;
                            margin-right: 0.5em;
                        }
                    }
                }
            }
        }
    }
    .page-header {
        margin-top: 75px;
        h1 {
            font-size: 48px;
            color: $primary;
            font-weight: 300;
            @media (max-width: $sm) {
                font-size: 36px;
            }
        }
    }
    &#woocommerce-wrapper {
        .woocommerce-breadcrumb {
            margin-top: 50px;
        }
        .entry-summary, .woocommerce-tabs {
            .product-single-dimensions {
                font-weight: 300;
                margin-top: 1em;
                margin-bottom: 1em;
                strong {
                    font-weight: bold;
                }
            }
            .product-single-sizing {
                margin-bottom: 30px;
                margin-top: 30px;
                .circle {
                    width: 100%;
                    padding-top: 100%;
                    background: $primary;
                    border-radius: 50%;
                    position: relative;
                    .content-holder {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);  
                        font-size: 14px;
                        font-weight: bold;
                        text-align: center;
                        color: $secondary;
                        @media (max-width: $xl) {
                            font-size: 12px;
                        }
                        @media (max-width: $md) {
                            font-size: 16px;
                        }
                        @media (max-width: 390px) {
                            font-size: 12px;
                        }
                        .icon {
                            margin-top: 10px;
                        }
                    }
                }
            }
            // .price {
            //     display: none;
            // }
            .wc-tabs {
                display: none;
            }
            h2 {
                margin-bottom: 25px;
                font-size: 30px;
                @media (max-width: $sm) {
                    font-size: 30px;
                }
            }
            h3 {
                color: $primary;
                font-size: 22px;
            }
            p {
                font-size: 18px;
            }
            ul {
                margin-bottom: 30px;
                list-style: none;
                margin: 0;
                padding: 0;
                // line-height: 1.15;
                @media (max-width: $xl) {
                    margin-bottom: 30px;
                }
                li {
                    margin: 0;
                    padding: 0;
                    font-weight: 300;
                    font-size: 16px;
                    &:last-child {
                        margin-bottom:30px;
                    }
                    &::before {
                        content: "\f0a9";
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-right: 0.5em;
                        color: $primary;
                    }
                }
            }
            img {
                border-radius: 30px;
            }
        }
        .woocommerce-product-gallery__wrapper {
            .woocommerce-product-gallery__image {
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;   
            }
        }
        .product-image-instant-quote-holder {
            background: $secondary-300;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            position: relative;
            padding: 30px;
            margin-bottom: 50px;
            // height: 450px;
            @media (max-width: $sm) {
                padding: 15px;
                // height: 470px;
            }
            .title {
                color: $primary;
                font-size: 30px;
                font-weight: bold;
            }
            .description {
                margin-top: 20px;
                font-weight: 300;
            }
            .product-price {
                background: $secondary-500;
                padding: 10px 20px;
                border: 4px dashed $primary;
                border-radius: 15px;
                margin-top: 20px;
                font-size: 36px;
                font-weight: bold;
                color: white;
                @media (max-width: $sm) {
                    font-size: 30px;
                }
                .inc-gst {
                    font-size: 14px;
                    display: inline-block;
                    font-weight: 500;
                }
            }
            .reset_variations {
                color: $primary;
                text-decoration: none;
                &:hover {
                    color: white;
                }
            }
            .single_add_to_cart_button {
                background: $primary;
                color: $secondary;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 0px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                text-align: center;
                position: absolute;
                bottom: 0;
                width: 90%;
                left: 5%;
                overflow: hidden !important;
                &:hover {
                    background: $secondary;
                }
                @media (max-width: $sm) {
                    font-size: 18px;
                }
            }
            #single-product-autocomplete {
                width: 100% !important;
                padding: 0.5em;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 10px;
                // &::before {
                //     content: "\f124";
                //     display: inline-block;
                //     font-family: FontAwesome;
                //     margin-right: 0.5em;
                //     color: $secondary;
                // }
            }
        }
        .hide-right-side-variations {
            display: none;
        }
        .woocommerce-variation-price {
            position: relative;
            z-index: 500;
            background: $secondary-500;
            padding: 10px 20px;
            border: 4px dashed $primary;
            border-radius: 15px;
            margin-top: 20px;
            font-size: 36px;
            font-weight: bold;
            color: white;
            margin-bottom: 30px;
            .price {
                color: white;
                @media (max-width: $sm) {
                    font-size: 30px;
                }
            }
            .inc-gst {
                font-size: 14px;
                display: inline-block;
                font-weight: 500;
            }
        }
        .woocommerce-tabs {
            p {
                font-weight: 300;
            }
        }
        .products {
            h2 {
                color: $primary;
                text-align: left;
            }
            img {
                border-radius: 30px;
            }
            .price {
                display: none;
            }
        }
        .related-products-title {
            transform: translate(-530px, 40px);
            @media (max-width: $xl) {
                transform: translate(-445px, 0px);
            }
            @media (max-width: $lg) {
                transform: translate(0px, 60px);
            }
            @media (max-width: $md) {
                transform: translate(0px, 0px);
            }
        }
    }
}

// Posts
.post-header-holder {
    .entry-header {
        background-image: url('../img/slider-1.png');
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .entry-title {
            font-size: 48px;
            font-weight: 300;
            background: $primary;
            color: $secondary;
            padding: 0.25em 1em;
            display: inline-block;
            margin-bottom: 0;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            @media (max-width: $md) {
                font-size: 36px;
            }
            @media (max-width: $sm) {
                font-size: 30px;
            }
        }
        .entry-content {
            h2 {
                margin-bottom: 25px;
                font-size: 30px;
                @media (max-width: $sm) {
                    font-size: 30px;
                }
            }
            p {
                font-size: 18px;
            }
            ul {
                margin-bottom: 30px;
                list-style: none;
                margin: 0;
                padding: 0;
                // line-height: 1.15;
                @media (max-width: $xl) {
                    margin-bottom: 30px;
                }
                li {
                    margin: 0;
                    padding: 0;
                    font-weight: 300;
                    font-size: 16px;
                    &:last-child {
                        margin-bottom:30px;
                    }
                    &::before {
                        content: "\f0a9";
                        display: inline-block;
                        font-family: FontAwesome;
                        margin-right: 0.5em;
                        color: $primary;
                    }
                }
            }
            img {
                border-radius: 30px;
            }
        }
    }
}

.post-header-metadata {
    background: white;
    padding: 1em;
    color: $secondary;
    font-size: 16px;
    font-weight: 300;
    @media (max-width: $sm) {
        font-size: 14px;
    }
}

// Sidebar Blog Categories
.sidebar-blog-categories {
    margin-top: 150px;
    @media (max-width: $lg) {
        margin-top: 50px;
    }
    h3 {
        font-size: 30px;
        color: $primary;
        margin-bottom: 15px;
    }
    ul {
        margin-bottom: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
        // line-height: 1.15;
        @media (max-width: $xl) {
            margin-bottom: 30px;
        }
        li {
            margin: 0;
            padding: 0;
            font-weight: 500;
            line-height: 2;
            font-size: 16px;
            &:last-child {
                margin-bottom:30px;
            }
            &::before {
                content: "\f0a9";
                display: inline-block;
                font-family: FontAwesome;
                margin-right: 0.5em;
                color: $primary;
            }
        }
    }
}

// Contact Us Page
.contact-us {
    font-size: 20px;
    i {
        color: $primary;
        min-width: 30px;
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $primary;
        }
    }
    .wpcf7 {
        margin: 0;
        margin-top: 50px;
        // margin-bottom: 50px;
        .wpcf7-form {
            background: $primary;
            border-radius: 15px;
            h3 {
                color: $secondary;
                margin-bottom: 1em;
                // font-size: 30px;
            }
            input[type=submit] {
                background: $secondary;
                color: white;
                display: inline-block;
                width: auto;
            }
        }
    }
    .iframe-holder {
        position: relative;
        height: 250px;
        margin-bottom: 50px;
        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 15px;
        }
        &:first-child {
            margin-top: 125px;
            @media (max-width: $lg) {
                margin-top: 50px;
            }
        }
    }
}

// Pagination
.pagination {
    justify-content: center;
    .page-item {
        margin-left: 5px;
        margin-right: 5px;
        &:first-child {
            .page-link {
              margin-left: 0;
              @include border-left-radius($border-radius);
            }
          }
        &:last-child {
            .page-link {
                @include border-right-radius($border-radius);
            }
        }   
        &.active {
            .page-link {
                z-index: 3;
                border-color: $pagination-active-border-color;
                border-radius: 35%;
                border: 1px solid white;
                padding: .5em 1em;
                border-radius: 1em;
                color: $primary;
                background-color: black;
                font-size: 20px;
                // cursor: pointer;
                &:hover {
                    color: $primary;
                }
                @media (max-width: $xl) {
                    font-size: 18px;
                }
            }
        }
    }
}
